/* .container {
    display: flex;
    gap: 2em;
    margin: 4em;
    justify-content: center;
} */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    padding: 4em;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
}

.container > * {
    flex: 0 0 calc(20% - 1em);
    max-width: calc(20% - 1em);
}