.Header {
    top: 0;
    width: 100%;
    margin: 0 auto;
    display: flex; 
    height: 4em;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: sticky;
    z-index: 100;
    /* background-color: rgb(39, 57, 57); */
    /* background-color: rgb(39, 57, 57, 0.8); */
    /* justify-content: flex-end; */
    /* backdrop-filter: blur(10px); */
    /* position: fixed; */
  /* background-color: rgba(39, 57, 57, 0.9);     green  */
}

.media {
    height: auto;
    align-self: center;
}

.media img {
    padding: 0.3em;
    width: auto;
    height: 4em;
}

nav {
    align-self: flex-end;
    align-self: center;
    padding-right: 4em;
}

nav ul {
    display: flex;
    gap: 2em;
}

nav ul li {
    list-style-type: none;
    color: white;
}

nav ul li:hover {
    color: rgb(71, 123, 202);
    
}

nav ul li > * {
    text-decoration: none;
    color: inherit;
}

