.Header {
    margin: 0 auto;
    display: flex;
    height: 4em;
    background-color: rgb(39, 57, 57);
    /* justify-content: flex-end; */
    justify-content: space-between;
}

.media img {
    width: 4em;
    height: 4em;
}

nav {
    align-self: flex-end;
    align-self: center;
    padding-right: 2em;
}

nav ul {
    display: flex;
    gap: 2em;
}

nav ul li {
    list-style-type: none;
    color: white;
}

nav ul li:hover {
    color: rgb(71, 123, 202);

}

nav ul li > * {
    text-decoration: none;
    color: inherit;
}

